<div class="row">
  <div class="col">
    <a>
    <img *ngFor="let image of images" (click)="addCollage()" [src]='image.src' class="option">
    <span class=”green-overlay”></span>
    </a>
  </div>
</div>

<div class="gallery__container"
     fxLayout="row wrap"
     [ngStyle]="{
       'max-width': '1180px',
       'height': '35rem'
      }"   *ngIf="collage || collage.length > 0"
      >
  <div class="gallery__image"
       *ngFor="let item of collage"
       [fxFlex]="item.grow + ' ' + item.shrink + ' ' + item.basis"
       [ngStyle]="{
          'background': '#fff url(' + item.src + ') no-repeat scroll center center',
          margin: '0.25rem'
        }" 
        >
  </div>
</div>