
.gallery__container {
    max-width: 118rem;
    margin: 0 auto;
  }

  .option {
      max-width: 30%;
      margin: 1%
  }

  .option:hover {
      cursor: pointer;
      
  }

  a:hover span.green-overlay {
    display:block;
    
    
    }

  span.green-overlay {
    background: rgba(0,255,0,0.2);
    
    display: none;
    
    height: 200px;
    
    width: 200px;
    
    position: relative;
    
    bottom: 200px;
    
    margin-bottom: -200px;
    
    
    }

    .square-gallery {
        --items: 7;
        --width: 50vw;
        display: grid;
        grid-template-columns: repeat(var(--items), 1fr);
        background: white;
        width: var(--width);
      }

      .gallery-item {
        display: flex;
        justify-content: center;
        width: calc(var(--width) / var(--items));
        padding-bottom: calc(var(--width) / var(--items));
        background-color: #ff82a9;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
      }
  
  