<div class="row">
  <div class="col">
    <img *ngFor="let item of images">
  </div>
</div>

<div class="gallery__container"
     fxLayout="row wrap"
     [ngStyle]="{
       'max-width': '1180px',
       'height': '35rem'
      }">
  <div class="gallery__image"
       *ngFor="let image of collage | slice:0:3"
       [fxFlex]="image.grow + ' ' + image.shrink + ' ' + image.basis"
       [ngStyle]="{
          'background': '#fff url(' + image.src + ') no-repeat scroll center center',
          margin: '0.25rem'
        }" (click)="addCollage()">
  </div>
</div>